@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Test Page</PageTitle>

<br />
<br />

<ul>
	@if (inventoryList is not null)
	{
		foreach (var inventory in inventoryList)
		{
			<li>
				<strong>@inventory.Name</strong> - @inventory.Quantity
			</li>
		}
	}
</ul>

@code {
	private List<Inventory>?  inventoryList;

	protected override async Task OnInitializedAsync()
	{
		inventoryList = (await ViewInventoriesByNameUseCase.ExecuteAsync("whe")).ToList() ;
	}
}